.about__container {
  padding-top: 0px !important;
}

.about__column {
  width: 100%;
  /* border: 1px solid black; */
}

.about__column h3 {
  margin-bottom: 30px;
}

.about__column--left img {
  width: 80%;
}

.about__column h3 {
  color: #5a8c9c;
}

.about__column p,
.about__column h4 {
  line-height: 1.25;
  margin-bottom: 15px;
}

.about__column--right img {
  max-width: 80%;
  height: auto;
}

.about__column li p {
  margin-bottom: 5px;
}

.about__column ul {
  margin: 5px 0 15px;
}

.about__begin-list {
  margin-bottom: 5px !important;
}

.about__intro h2 {
  margin-top: 30px;
  margin-bottom: 10px;
}

.about__intro h4 {
  font-weight: 500;
  font-size: 20px;
  margin: 0;
}
.about__intro p {
  margin-top: 30px;
}

.about__textbox {
  padding-top: 70px;
  padding-bottom: 70px;
  border: 1px solid black;
  justify-content: flex-start;
}

.about__textbox h3 {
  text-align: center;
  color: #5a8c9c;
  margin-bottom: 50px;
}

.about__textbox h4 {
  font-size: 21px;
  font-weight: 600;
  margin-bottom: 3px;
}

.about__textbox h5 {
  font-size: 18px;
  margin: 0;
  font-weight: 600;
  margin-bottom: 5px;
}

.about__textbox ul {
  margin: 0;
  margin-top: -5px;
  margin-bottom: 25px;
}

.about__textbox p {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 0;
  line-height: 1.2;
}

.about__textbox p b {
  font-weight: 600;
}

.about__textbox li {
  margin-bottom: 5px;
}

.about__textbox span {
  font-weight: 300;
  text-decoration: underline;
  text-underline-offset: 0.25em;
  text-decoration-thickness: 1px;
  line-height: 1.5;
}

.about__textbox-spacer {
  height: 40px;
}

.mini-br {
  height: 7px;
}

.mini-br-2 {
  height: 16px;
}

.less-margin-bottom {
  margin-bottom: 18px !important;
}

@media (max-width: 800px) {
  .about__intro h2 {
    margin-top: 0;
  }
}

@media (max-width: 750px) {
  .about__column-with-img {
    display: flex;
    justify-content: center;
    width: auto;
    margin-bottom: 50px;
  }
  .about__column-with-img img {
    width: 100%;
    max-width: none;
  }
  .about__column h3 {
    margin-bottom: 20px;
    color: #5a8c9c;
  }
}
