.homepage__banner {
  position: relative;
  top: 0;
  height: 100vh;
  width: 100vw;
  background: url("../../images/banner-1.jpg") rgba(90, 90, 90, 1);
  background-blend-mode: exclusion;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homepage__banner--text {
  text-align: center;
  color: white;
}

.homepage__banner--text h5 {
  font-size: 30px;
  margin: 0;
  font-weight: 500;
}

.homepage__banner--text h1 {
  font-size: 80px;
  text-transform: uppercase;
  margin: 0;
}

.homepage__intro p {
  max-width: 800px;
  text-align: center;
}

@media (max-width: 750px) {
  .homepage__intro p {
    text-align: left;
  }
}

@media (max-width: 600px) {
  .homepage__banner--text h1 {
    font-size: 70px;
    margin-top: 15px;
  }
}
