.footer__container {
  display: flex;
  margin: 0;
  padding: 30px 70px;
  justify-content: space-between;
}

.footer__links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footer__links a {
  color: black;
  text-transform: lowercase;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding: 0;
  margin: 0;
  margin-left: 40px;
  text-decoration: none;
  /* margin: 0 0px 0px; */
}

.footer-mobile__container {
  padding: 20px 30px 40px;
  /* border: 1px solid black; */
}

.footer-mobile__container h4 {
  width: 120px;
  font-weight: 500;
}

.footer-mobile__container p {
  margin-bottom: 0px;
  font-size: 16px;
  font-weight: 500;
}

@media (max-width: 750px) {
  .footer__container {
    padding: 30px 30px;
    align-items: flex-end;
  }

  .footer__container h4 {
    width: 200px;
  }

  .footer__links {
    margin-bottom: 3px;
  }
}
