.footer__container {
  display: flex;
  margin: 0;
  padding: 30px 70px;
  justify-content: space-between;
}

.footer__links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footer__links a {
  color: black;
  text-transform: lowercase;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding: 0;
  margin: 0;
  margin-left: 40px;
  text-decoration: none;
  /* margin: 0 0px 0px; */
}
