.navbar__background {
  background-color: white;
  width: 100%;
  position: fixed;
  height: 85px;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 10;
  transition: all ease 1s;
  transition-property: background-color, color;
}

.navbar__background--alt {
  background-color: transparent;
  width: 100%;
  position: fixed;
  height: 85px;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 10;
  transition: all ease 0.5s;
  transition-property: background-color, color;
}

.navbar__centered {
  padding-bottom: 20px;
  border-bottom: 1px solid #e6e6e6;
  font-family: "Inter", sans-serif;
}

.navbar__background a,
.navbar__background--alt a {
  padding: 0 30px 0;
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.navbar__background--alt a {
  color: #e6e6e6;
}

.navbar__background a {
  color: #303030;
}

.navbar__background--alt a.active {
  color: white;
  font-weight: 800;
}

.navbar__background a.active {
  color: #5a8c9c;
  font-weight: 800;
}
