.navbar__background {
  background-color: white;
  width: 100%;
  position: fixed;
  height: 75px;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 10;
  transition: transform 6s ease;
  animation: fade-in 3s;
}

.navbar__background--alt {
  background-color: transparent;
  width: 100%;
  position: fixed;
  height: 75px;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 10;
  transform: translateY(0);
  transition: transform 1s ease;
}
@keyframes fade-in {
  0% {
    background-color: transparent;
  }
  35% {
    background-color: white;
  }
  100% {
    background-color: white;
  }
}

.navbar__centered {
  padding-bottom: 20px;
  border-bottom: 1px solid #e6e6e6;
  font-family: "Inter", sans-serif;
}

a {
  padding: 0 30px 0;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
}

.navbar__background--alt a {
  color: #e6e6e6;
}

.navbar__background a {
  color: #252525;
}

.navbar__background--alt a.active {
  color: white;
  font-weight: 900;
}

.navbar__background a.active {
  color: #5a8c9c;
  font-weight: 800;
}
